.clearfix::after {
    content: "";
    clear:both;
    display: table;
}*/
body {
    width: 1500px;
    height: 1420px;
    margin: 0px 10px;
    padding-bottom: 0;
}
/*.header {
    background-color: #4e555b;
    height: 180px;
    margin-bottom: 5px;
    margin-top: 5px;
}*/

.site-wrapper {
    width: 1500px;
    margin: 0 auto;
    margin-bottom: 5px;


}
header .header-inner {
    height: 100px;
    background: #26ff20;
    font-size: 32px;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 5px;
}

/*==Style cho menu===*/
header .menu {
    background-color: yellow;
}
header .menu ul {
    background: #fffd1a;
    list-style-type: none;
    text-align: center;
    overflow: hidden; /* phần nội dung tràn bị cắt đi và phần nội dung bị ẩn đi*/
    /*width: 1460px;*/
    height: 60px;
}
header .menu li {
    color: #f1f1f1;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
    font-size: 20px;
}
header .menu a {
    text-decoration: none;
    color: #ff3f4c;
    display: block;
}
header .menu a:hover {
    background: #F1F1F1;
    color: #333;
}
header .menu .search {
    float: right;
}

header .menu .search input[type=text] {
    padding: 6px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
}

header .menu .search input[type=submit] {
    float: right;
    padding: 3px 5px;
    margin-top: 8px;
    margin-right: 800px;
    background: #ddd;
    font-size: 15px;
    cursor: pointer;
}

header .menu .search input[type=submit]:hover {
    background: #ccc;
}

header .personal{
    float: right;
    text-align: center;

}

header ul.login li a {
    text-decoration:none;
    color: #000;

}
header ul.login{
    float:right;
    height: 100px;


}
header ul.login li.dangnhap {
    border: 1px solid #333;

}
header ul.login li.dangxuat {
    border: 1px solid #333;

}
header ul.login li{
    float: right:


}

header ul.login li a:hover{
    color: #1DBAA5;
}



header ul.login li a:hover{
    color: #1DBAA5;
}






.content {
    background-color: #0f6674;
    height: 800px;
    margin-bottom: 5px;

}
.left {
    width: 400px;
    height: 800px;
    float: left;
    background-color: rgba(255,254,56,0.75);
    margin-bottom: 5px;
}
.right {
    width: 800px;
    height: 800px;
    float: right;
    margin-bottom: 5px;

}
.order {
    height:150px;
    margin-bottom: 5px;
    padding: 50px 0 100px 0;
    background: #f5f5f5;
    border-radius: 25px;
    text-align: center;
    margin: 10px 0;
    border: 3px solid black;
}
.order .title{
    font-weight: bold;
    font-size: 40px;
    color: #4d4d4d;
    text-transform: uppercase;/*viết hoa */
    margin-bottom: 15px;
    margin-top: 10px;
    letter-spacing: 2px;/*khoảng cách giữa các ký tự */
}

.order .desc{
    font-size: 25px;
    color: #717171;
    margin-bottom: 60px;
}

.order a.start_btn{
    padding: 10px 40px;
    margin: 10px 0;
    color: #4d4d4d;
    border: 2px #4d4d4d solid;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;


}

.order a.start_btn:hover{
    background: #4d4d4d;
    color: #f5f5f5;
}
.footer {
    background-color: #5af8ff;
    height: 250px;
}